In [1]:
import pandas as pd #library for processing dataframes

In [2]:
#import datasets
hotel_price = pd.read_csv('hotels_RoomPrice.csv')
hotel_att = pd.read_csv('Hotel_Room_attributes.csv')
hotel_dets = pd.read_csv('Hotel_details.csv')

In [3]:
#ensure all columns are displayed
pd.set_option('display.max_columns', 500)


# EDA

In [4]:
#preview data
hotel_price.head()

,id,refid,hotelcode,websitecode,dtcollected,ratedate,los,guests,roomtype,onsiterate,netrate,currency,ratedescription,ratetype,sourceurl,roomamenities,maxoccupancy,ispromo,closed,discount,promoname,status_code,taxstatus,taxtype,taxamount,proxyused,israteperstay,mealinclusiontype,hotelblock,input_dtcollected
0,50677497,8646773,634876,5,2019-10-12 15:46:54,2019-11-02,1,1,Double Room,82.36,87.84,USD,"Room size: 15 m²/161 ft², Shower, 1 king bed",Cancellation policy,https://www.agoda.com/en-gb/the-old-cider-hous...,Air conditioning: ;Alarm clock: ;Carpeting: ;C...,1,Y,N,6.24,NaN,200,2,NaN,0.0,media:M3diAproxy@173.44.165.126:80,Y,Free Breakfast,NaN,2019-10-13
1,50672149,6234691,8328096,5,2019-10-12 15:47:45,2019-11-30,1,1,Vacation Home,636.09,0.00,USD,"Shower, Kitchenette, 2 bedrooms, 1 double bed ...",Cancellation policy,https://www.agoda.com/en-gb/pantlleni/hotel/be...,Air conditioning: ;Closet: ;Fireplace: ;Free W...,4,N,N,0.00,NaN,200,2,NaN,0.0,media:M3diAproxy@173.44.164.126:80,Y,NaN,NaN,2019-10-13
2,50643430,7015677,8323442,5,2019-10-12 15:47:00,2019-12-20,1,1,Vacation Home,591.74,0.00,USD,"Shower, Kitchenette, 2 bedrooms, 1 double bed ...",Extra low price! (non-refundable),https://www.agoda.com/en-gb/willow-cottage/hot...,Air conditioning: ;Closet: ;Dishwasher: ;Firep...,4,N,N,0.00,NaN,200,2,NaN,0.0,media:M3diAproxy@173.44.166.122:80,Y,NaN,NaN,2019-10-13
3,50650317,7327094,7975,5,2019-10-12 15:47:02,2019-12-28,1,1,Standard Triple Room,881.48,0.00,USD,"Room size: 20 m²/215 ft², Shower, 3 single beds",Extra low price! (non-refundable),https://www.agoda.com/en-gb/apollo-hotel-londo...,Air conditioning: ;Clothes rack: ;Coffee/tea m...,1,N,N,0.00,NaN,200,2,Tax 20%,0.0,media:M3diAproxy@209.242.219.141:80,Y,NaN,NaN,2019-10-13
4,50650318,7327094,7975,5,2019-10-12 15:47:02,2019-12-28,1,1,Standard Triple Room,897.53,0.00,USD,"Room size: 20 m²/215 ft², Shower, 3 single beds",Extra low price! (non-refundable),https://www.agoda.com/en-gb/apollo-hotel-londo...,Air conditioning: ;Clothes rack: ;Coffee/tea m...,3,N,N,0.00,NaN,200,2,VAT $ 179.51,0.0,media:M3diAproxy@209.242.219.141:80,Y,Free breakfast for {3},NaN,2019-10-13

In [5]:
hotel_dets.head()

,id,hotelid,hotelname,address,city,country,zipcode,propertytype,starrating,latitude,longitude,Source,url,curr
0,46406,1771651,Mediteran Bungalow Galeb,Vukovarska 7,Omis,Croatia,21310.0,Holiday parks,4,43.440124,16.682505,2,https://www.booking.com/hotel/hr/bungalow-luxu...,EUR
1,46407,177167,Hotel Polonia,Plac Teatralny 5,Torun,Poland,NaN,Hotels,3,53.012329,18.603800,5,https://www.agoda.com/en-gb/hotel-polonia/hote...,EUR
2,46408,1771675,Rifugio Sass Bece,"Belvedere del Pordoi,1",Canazei,Italy,38032.0,Hotels,3,46.477920,11.813350,2,http://www.booking.com/hotel/it/rifugio-sass-b...,EUR
3,46409,177168,Madalena Hotel,Mykonos,Mykonos,Greece,84600.0,Hotels,3,37.452316,25.329849,5,https://www.agoda.com/en-gb/madalena-hotel/hot...,EUR
4,46410,1771718,Pension Morenfeld,Mair im Korn Strasse 2,Lagundo,Italy,39022.0,Hotels,3,46.682780,11.131736,2,http://www.booking.com/hotel/it/pension-morenf...,EUR

In [6]:
hotel_att.head()

,id,hotelcode,roomamenities,roomtype,ratedescription
0,50677497,634876,Air conditioning: ;Alarm clock: ;Carpeting: ;C...,Double Room,"Room size: 15 m²/161 ft², Shower, 1 king bed"
1,50672149,8328096,Air conditioning: ;Closet: ;Fireplace: ;Free W...,Vacation Home,"Shower, Kitchenette, 2 bedrooms, 1 double bed ..."
2,50643430,8323442,Air conditioning: ;Closet: ;Dishwasher: ;Firep...,Vacation Home,"Shower, Kitchenette, 2 bedrooms, 1 double bed ..."
3,50650317,7975,Air conditioning: ;Clothes rack: ;Coffee/tea m...,Standard Triple Room,"Room size: 20 m²/215 ft², Shower, 3 single beds"
4,50650318,7975,Air conditioning: ;Clothes rack: ;Coffee/tea m...,Standard Triple Room,"Room size: 20 m²/215 ft², Shower, 3 single beds"

In [7]:
hotel_dets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108048 entries, 0 to 108047
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            108048 non-null  int64
 1   hotelid       108048 non-null  int64
 2   hotelname     108048 non-null  object
 3   address       102955 non-null  object
 4   city          108048 non-null  object
 5   country       108048 non-null  object
 6   zipcode       83486 non-null   float64
 7   propertytype  108048 non-null  object
 8   starrating    108048 non-null  int64
 9   latitude      108048 non-null  float64
 10  longitude     108048 non-null  float64
 11  Source        108048 non-null  int64
 12  url           107937 non-null  object
 13  curr          108048 non-null  object
dtypes: float64(3), int64(4), object(7)
memory usage: 11.5+ MB

In [8]:
hotel_att.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165873 entries, 0 to 165872
Data columns (total 5 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   id               165873 non-null  int64
 1   hotelcode        165873 non-null  int64
 2   roomamenities    161054 non-null  object
 3   roomtype         165873 non-null  object
 4   ratedescription  161054 non-null  object
dtypes: int64(2), object(3)
memory usage: 6.3+ MB

In [9]:
#drop null values
hotel_att=hotel_att.dropna()
hotel_dets=hotel_dets.dropna()

In [10]:
hotel_att.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 161054 entries, 0 to 165872
Data columns (total 5 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   id               161054 non-null  int64
 1   hotelcode        161054 non-null  int64
 2   roomamenities    161054 non-null  object
 3   roomtype         161054 non-null  object
 4   ratedescription  161054 non-null  object
dtypes: int64(2), object(3)
memory usage: 7.4+ MB

In [11]:
hotel_dets.drop_duplicates(subset='hotelid', keep=False, inplace=True) #drop duplicated entries

In [12]:
hotel = pd.merge(hotel_att, hotel_dets, left_on='hotelcode', right_on='hotelid', how='inner') #merge two dataframes

In [13]:
hotel.columns

Index(['id_x', 'hotelcode', 'roomamenities', 'roomtype', 'ratedescription',
       'id_y', 'hotelid', 'hotelname', 'address', 'city', 'country', 'zipcode',
       'propertytype', 'starrating', 'latitude', 'longitude', 'Source', 'url',
       'curr'],
      dtype='object')

In [14]:
hotel = hotel.drop(['id_x','id_y','hotelid','zipcode','Source','url','curr'], axis=1)

In [15]:
hotel.columns

Index(['hotelcode', 'roomamenities', 'roomtype', 'ratedescription',
       'hotelname', 'address', 'city', 'country', 'propertytype', 'starrating',
       'latitude', 'longitude'],
      dtype='object')

# Recommendation

In [16]:
#function to recommend hotels based on ratings
def city_hotels(city):
    hotel['city'] = hotel['city'].str.lower()
    hotels = hotel[hotel['city'] == city.lower()]
    hotels = hotels.sort_values(by='starrating', ascending=False)
    hotels.drop_duplicates(subset='hotelcode', keep='first', inplace=True)
    if(hotels.empty==0):
        hotel_n = hotels[['hotelname', 'address', 'starrating', 'roomamenities', 'ratedescription','country']]
        return hotel_n
    else:
        print('No hotel available in city')

In [17]:
print('Top 5 hotels in Paris')
city_hotels('paris').head()

Top 5 hotels in Paris

,hotelname,address,starrating,roomamenities,ratedescription,country
78004,Hotel Hor,"160, rue la Fayette",4,Air conditioning: ;Alarm clock: ;Closet: ;Clot...,"Room size: 32 m²/344 ft², City view, Non-smoki...",France
38065,AC Hotel Paris Porte Maillot,6 Rue Gustave Charpentier,4,Air conditioning: ;Free Wi-Fi in all rooms!: ;...,"Room size: 31 m²/334 ft², 2 single beds and 1 ...",France
21270,Novotel Suites Paris Expo Pte Versailles,4 Boulevard Brune,4,Air conditioning: ;Alarm clock: ;Bathrobes: ;C...,"Room size: 30 m²/323 ft², Shower, Kitchenette,...",France
19939,Mayfair Hotel,3 Rue Rouget De Lisle,4,Air conditioning: ;Bathrobes: ;Blackout curtai...,"Room size: 25 m²/269 ft², Non-smoking, Shower ...",France
20681,Hotel Mercure Paris Gobelins Place D'Italie,8 Bis Avenue De La Soeur Rosalie,4,Air conditioning: ;Free Wi-Fi in all rooms!: ;...,Room size: 28 m²/301 ft²,France

In [18]:
from sklearn.metrics.pairwise import cosine_similarity #to calculate similarities
from sklearn.feature_extraction.text import CountVectorizer #to perform vectorization

In [19]:
#feature selection
hotel_feat = hotel[['hotelname', 'roomamenities', 'starrating', 'ratedescription', 'roomtype', 'country']]

In [20]:
#funtion to combine all features
def combined_feats(row):
    return row['hotelname']+ " " + str(row['starrating']) + " " + row['roomamenities'] + " " + row['ratedescription'] + " " + row['roomtype'] + " " + row['country']

In [21]:
hotel_feat['comb_feat'] = hotel_feat.apply(combined_feats, axis=1)

<ipython-input-21-4ed6b9017c17>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel_feat['comb_feat'] = hotel_feat.apply(combined_feats, axis=1)

In [22]:
#randomly select a subset of dataset
hotel_n = hotel_feat.sample(n=50000)

In [36]:
#drop duplicated hotels
hotel_feat.drop_duplicates(subset='hotelname', keep='first', inplace=True)

<ipython-input-36-eb9b3dfb0c1a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel_feat.drop_duplicates(subset='hotelname', keep='first', inplace=True)

In [37]:
hotel_feat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4554 entries, 0 to 78195
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   hotelname        4554 non-null   object
 1   roomamenities    4554 non-null   object
 2   starrating       4554 non-null   int64
 3   ratedescription  4554 non-null   object
 4   roomtype         4554 non-null   object
 5   country          4554 non-null   object
 6   comb_feat        4554 non-null   object
dtypes: int64(1), object(6)
memory usage: 284.6+ KB

In [23]:
hotel_n.drop_duplicates(subset='hotelname', keep='first', inplace=True)

In [38]:
hotel_feat['comb_feat'] = hotel_feat['comb_feat'].str.replace(': ;',',')

<ipython-input-38-561bd333e31f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel_feat['comb_feat'] = hotel_feat['comb_feat'].str.replace(': ;',',')

In [39]:
#vectorize combined features
cv = CountVectorizer()
count_matrix = cv.fit_transform(hotel_feat['comb_feat'])

In [40]:
#Find similarities amongst keywords
sim_score = cosine_similarity(count_matrix)
print(sim_score)

[[1.         0.69325224 0.46136787 ... 0.6486493  0.47185072 0.59186403]
 [0.69325224 1.         0.5001487  ... 0.5819357  0.47853661 0.53099079]
 [0.46136787 0.5001487  1.         ... 0.49812029 0.80689777 0.53007133]
 ...
 [0.6486493  0.5819357  0.49812029 ... 1.         0.53158769 0.64718325]
 [0.47185072 0.47853661 0.80689777 ... 0.53158769 1.         0.5421152 ]
 [0.59186403 0.53099079 0.53007133 ... 0.64718325 0.5421152  1.        ]]

In [41]:
hotel_feat.iloc[0].comb_feat

'Hotel Rivoli 3 Air conditioning,Closet,Daily housekeeping,Desk,Fan,Free Wi-Fi in all rooms!,Hair dryer,Heating,In-room safe box,Linens,Mini bar,On-demand movies,Satellite/cable channels,Telephone,Toiletries,Towels,Wake-up service,Wooden/parqueted flooring, Room size: 18 m²/194 ft², City view, Shower and bathtub, 1 single bed Single Room Germany'

In [42]:
hotel_feat.reset_index(level=0, inplace=True) #create explicit index

In [43]:
hotel_feat['index'] = hotel_feat.index

<ipython-input-43-4b5b9ae8d911>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel_feat['index'] = hotel_feat.index

In [44]:
hotel_feat.head()

,index,hotelname,roomamenities,starrating,ratedescription,roomtype,country,comb_feat
0,0,Hotel Rivoli,Air conditioning: ;Closet: ;Daily housekeeping...,3,"Room size: 18 m²/194 ft², City view, Shower an...",Single Room,Germany,"Hotel Rivoli 3 Air conditioning,Closet,Daily h..."
1,1,Timhotel Tour Eiffel,Air conditioning: ;Alarm clock: ;Bathrobes: ;C...,3,"Room size: 14 m²/151 ft², City view, Non-smoki...",Comfort Single Room,France,"Timhotel Tour Eiffel 3 Air conditioning,Alarm ..."
2,2,Hotel Paris Villette,Air conditioning: ;Free Wi-Fi in all rooms!: ;...,3,"Free Wi-Fi, Extra low price! (non-refundable)",full size bed (1 big bed),France,"Hotel Paris Villette 3 Air conditioning,Free W..."
3,3,Hotel Mons am Goetheplatz,Air conditioning: ;Free Wi-Fi in all rooms!: ;...,2,"Room size: 16 m²/172 ft², Shared bathroom, 1 q...",Double Room with Shared Bathroom,Germany,"Hotel Mons am Goetheplatz 2 Air conditioning,F..."
4,4,Ibis Styles Hotel Paris Gare de Lyon Bastille,Air conditioning: ;Carpeting: ;Closet: ;Desk: ...,3,"Room size: 13 m²/140 ft², Shower, 2 single beds",Standard Twin Room,France,Ibis Styles Hotel Paris Gare de Lyon Bastille ...

In [45]:
#helper functions
def get_hotel_name(index):
    return hotel_feat[hotel_feat['index'] == index]['hotelname'].values[0]
def get_hotel_index(name):
    return hotel_feat[hotel_feat['hotelname'] == name]['index'].values[0]

In [49]:
#user entry
hotel_liked = 'Hotel Premier'
hotel_idx = get_hotel_index(hotel_liked)
similar_hotels = list(enumerate(sim_score[hotel_idx]))

In [50]:
#recommend
sim_hotels = sorted(similar_hotels, key=lambda x: x[1], reverse=True)[1:11]

In [51]:

for bk in sim_hotels:
    print(get_hotel_name(bk[0]))

Hotel Internazionale Gorizia
Les Camelias
Hotel Hennies
Hotel Balfagon
ibis Auxerre Sud
Hotel The Originals Acadine Pont-Audemer
Hotel Rythme
Hotel Tatranec
Hotel Sorbona
Hotel Vert